# Prérequis
* .d
 
# Fichiers objet compilés
obj/
* .slo
* .lo
* .o
* .obj
 
# En-têtes précompilés
* .gch
* .pch
 
# Bibliothèques dynamiques compilées
* .ainsi
* .dylib
* .dll
 
# fichiers de modules Fortran
* .mod
* .smod
 
# Bibliothèques statiques compilées
* .laï
* .la
* .a
* .lib
 
# exécutables
* .exe
* .out
* .app

.vscode
ft_containers
std_containers

#debug
std_map
ft_map
std_set
ft_set
std_out
ft_out
DIFF_OUT